:root {
    --yellow: #ffc600;
    --black: #272727;
}

html {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 900;
    font-size: 10px;
    color: var(--black);
    text-shadow: 0 2px 0 rgb(0 0 0 / 7%);
}

head {
    display: none;
}

body {
    background-image: url("https://wallpaperaccess.com/full/400204.jpg"), linear-gradient( 110deg, #f93d66, #5934);
    background-size: cover;
    min-height: calc(100vh - 100px);
    margin: 50px;
    background-attachment: fixed;
    letter-spacing: -1px;
    font-size: 15px;
}

.wrapper {
    display: grid;
    grid-gap: 20px;
}

@media(max-width:100px) {
    .menu {
        perspective: 800px;
    }
}

@media (max-width: 1000px) {
    [aria-controls="menu-list"] {
        display: block;
        margin-bottom: 10px;
    }
}

@media (max-width: 1000px) {
    [aria-expanded="false"] .close {
        display: none;
    }
}

button {
    font-size: xx-large;
    appearance: auto;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: contents;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 2px;
    background: #ffc600;
    border: 0;
    padding: 10px 20px;
    color: antiquewhite;
}

@media (max-width: 1000px) {
    .menu ul {
        max-height: 0;
        overflow: hidden;
        transform: rotateX(90deg);
        transition: all 0.5s;
    }
}

.menu a {
    background: var(--yellow);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-size: 20px;
}

a:-webkit-any-link {
    font: caption;
    font-family: unset;
    font: message-box;
    font-variant-caps: unicase;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bolder;
}

li {
    display: list-item;
    text-align: center;
}

.menu ul {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

@media (max-width: 500px) {
    .top {
        grid-template-areas: "hero" "cta1" "cta2";
    }
}

.hero {
    grid-area: hero;
    min-height: 400px;
    background: white url("https://mocah.org/thumbs/348943-4k-wallpaper.jpg");
    background-size: cover;
    background-position: bottom right;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.top {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: "hero hero cta1" "hero hero cta2";
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 5px 0;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hero>* {
    background: var(--yellow);
    padding: 5px;
}

.cta1 {
    grid-area: cta1;
}

.cta {
    background: var(--yellow);
    display: grid;
    align-items: center;
    justify-items: center;
    align-content: center;
}

.cta p {
    margin: 0;
}

.price {
    font-size: 60px;
    font-weight: 300;
}

p {
    color: peru;
    font-size: initial;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.cta2 {
    grid-area: cta2;
}

.features {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

section {
    display: block;
}

.feature {
    background: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    box-shadow: 0 0 4px rgb(0 0 0 / 10%);
}

div {
    display: block;
}

@media (max-width: 700px) {
    .about {
        grid-template-columns: 1fr;
    }
}

.about {
    background: 0;
    padding: 100px;
    display: contents;
    grid-template-columns: auto;
    align-items: center;
}

img {
    max-width: 100%;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.gallery {
    display: contents;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.gallery h2 {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-gap: 20px;
    align-items: center;
}

.gallery h2:before,
.gallery h2:after {
    display: block;
    content: '';
    height: 10px;
    background: linear-gradient(to var(--direction, left), var(--yellow), transparent);
}

.gallery h2:after {
    --direction: right;
}

.gallery img {
    width: 100%;
}
